
deliverables/report.synctex.gz
deliverables/report.pdf
deliverables/report.out
deliverables/report.log
deliverables/report.blg
deliverables/report.bbl
deliverables/report.aux
source/report.synctex.gz
source/report.pdf
source/report.out
source/report.log
source/report.blg
source/report.bbl
source/report.aux
